html, body {
  font-family: Karla;
  font-weight: 400;
  font-style: normal;
  font-display: swap;


}

.contact {
    text-align: center;
    margin-top: 200px;
}
/*.section-sections--16163672719568__newsletter_TALHHm-padding {*/
/*    padding-top: 0px;*/
/*    padding-bottom: 18px;*/
/*  }*/

/*  @media screen and (min-width: 750px) {*/
/*    .section-sections--16163672719568__newsletter_TALHHm-padding {*/
/*      padding-top: 0px;*/
/*      padding-bottom: 24px;*/
/*    }*/
/*  }*/
/*.page-width page-width--narrow section-template--16163676258512__main-padding {*/
/*    text-align: center;*/
/*}*/

.container{
    text-align: center;
}


.addprod {
    text-align: center;
    margin-top: 150px;
}




